.footer {
    background-color: #6278F7;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 80px;
}

.footer ul li{
    display: inline-block;
    list-style: none;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

